*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.svn/
Xamarin/Gurux.DLMS.Client.Example/Gurux.DLMS.Client.Example.csproj.user
Xamarin/Gurux.DLMS.Client.Example/.vs/
Xamarin/Gurux.DLMS.Client.Example/bin/
Xamarin/Gurux.DLMS.Client.Example/obj/
